/* couleur rouge : #ffffff*/
html {
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #0E4145;
    text-decoration: underline;
    text-align: center;


}
h2 {
    font-family: 'Roboto', sans-serif;
    color: #000000;

}
h3 {
    font-family: 'Roboto', sans-serif;
    color: #000000;

}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-align: left;
    font-size: 15px;
    text-align: unset;
}

.paragraphe{
    font-family: 'Roboto', sans-serif;
    
}

button {
    background-color: #0E4145; 
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  a:link, a:visited {
    background-color: #ff0000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8%;
  }
  
  a:hover, a:active {
    background-color: red;
  }

  .logo {
      width: auto;
      height: auto;
  }
#formulaire{
    font-family: 'Roboto', sans-serif;
}
#inscription > p{
    font-family: 'Roboto', sans-serif;
    color: red;
}
.flotte{
   position: relative;
   right: 0;
}
header{
    text-align: center;
}
.parametre{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
  text-align: center;
  
}
label{
    font-family: 'Roboto', sans-serif;
}
.en-tête{
    font-family: 'Roboto', sans-serif;
}
#submit{
    background-color: #ff0000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8%;
    border: 0px solid red;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.form{
    font-family: 'Roboto', sans-serif;
    padding: 14px 25px;
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8%;
    box-sizing: border-box;
    border: 2px solid red;
    text-align: center;
    width: 50%;
    margin: auto;
}
.pieds{
    margin-left: 1000px
}
.mention{
    text-align: center;
}