/* couleur rouge : #ffffff*/
html {
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #0E4145;
    text-decoration: underline;
    text-align: center;



}
h2 {
    font-family: 'Roboto', sans-serif;
    color: #000000;

}
h3 {
    font-family: 'Roboto', sans-serif;
    color: #000000;

}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-align: left;
    font-size: 15px;
    text-align: unset;
}

.paragraphe{
    font-family: 'Roboto', sans-serif;
    
}

button {
    background-color: #0E4145; 
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  a:link, a:visited {
    background-color: Red;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3%;
  }
  
  a:hover, a:active {
    background-color: red;
  }

  .logo {
      width: auto;
      height: auto;
  }
#formulaire{
    font-family: 'Roboto', sans-serif;
}
#inscription > p{
    font-family: 'Roboto', sans-serif;
    color: red;
}
.flotte{
   position: relative;
   right: 0;
}
header{
    text-align: center;
}


label{
    font-family: 'Roboto', sans-serif;
}
.en-tête{
    font-family: 'Roboto', sans-serif;
}
#submit{
    background-color: #ff0000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8%;
    border: 0px solid red;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.footer{
    text-align: center;
}
.mention{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.LLS{
    margin-left: 70%;
}
.footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;
    right: 0%;   
    background:rgb(255, 255, 255);
}
/* FORMULAIRE CONTACT */
.contact{
  width: 50%;
  padding: 5px 10px;
  margin-left:25%;
  margin-top: 10%;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
}
.formulaire{
    margin-right: 50px;
    text-align: right;
}
/* FORMULAIRE AUTRE */
.aligne{
    display: block;
    width: 150px;
    float: center;

}
 /* BORDURE FORMULAIRE PARAMETRE */
.parametre{
    width: 100%;
    padding: 12px 20px;
    padding-left: 200px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    
  }
/* FORMULAIRE DE CONNEXION */
.form{
    font-family: 'Roboto', sans-serif;
    padding: 14px 25px;
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8%;
    box-sizing: border-box;
    border: 2px solid red;
    text-align: center;
    width: 50%;
    margin: auto;

}