/*Bouton*/
button {
  background-color: Red;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 3%;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }

/*Mise en page*/
html {
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #0E4145;
    text-decoration: underline;
    text-align: center;



}
.flotte{
    text-align: center;
 }
h2 {
    font-family: 'Roboto', sans-serif;
    color: #000000;

}
h3 {
    font-family: 'Roboto', sans-serif;
    color: #000000;

}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-align: left;
    font-size: 15px;
    text-align: unset;
}

.paragraphe{
    font-family: 'Roboto', sans-serif;
    
}

.logo {
    margin-left: 60px;
}

label{
    font-family: 'Roboto', sans-serif;
}

.en-tête{
    font-family: 'Roboto', sans-serif;

}
p{
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}
hr{
    border: 0px;
    margin-bottom: 10px;
}
.article {
  display:inline-block;
}


  a:link, a:visited {
    background-color: Red;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3%;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #submit{
    background-color: #ff0000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8%;
    border: 0px solid red;
    font-size: 16px;
}
  a:hover, a:active {
    background-color: red;
  }
  .article{
    margin-bottom: 50%;
  }
  
 /*Header*/
 .Nom{
     text-align: right;
 }
 header{
    text-align: center;
}
/*FOOTER*/
.footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;
    right: 0%;   
    background:rgb(255, 255, 255);
    text-align: center;
}

/* POSITION LIRE LA SUITE*/
.LLS{
    margin-left: 70%;
}
/*Bordure */
.bordure{
    width: 100%;
    padding: 12px 20px;
    padding-left: 200px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 4px;
    
  }
  /*formulaire*/
  input[type=text], textarea, input[type=email], select, input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
  }

  .aligne {
      margin-right: 0px;
    margin-left: 0px;
    width: 100%;}
  
  input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: red;
  }
  
  .container {
    /* Ajouter box-sizing */
    box-sizing : border-box;
    border-radius:5px;
    background-color:#f2f2f2;
    border-color: red;
    border-style: groove;
    padding:20px;
    width: 100%;
    /* redéfinition 400 + 2*20 */
    max-width: 440px;
    margin:0 auto;
  }
  
  .titreForm  {
    font-family: 'Roboto', sans-serif;
    color: #0E4145;
    width: 100%;
    font-size: 30px;
  }
